- content_for :sidebar do
  %li.nav-header Tools
  - if current_user.system.active?
    %li
      = link_to pause_system_path do
        %i.icon-pause
        Pause Publishing
  - else
    %li
      = link_to activate_system_path, confirm:"Are you sure? As soon as the system is activated, unpublished tweets may be published immediately." do
        %i.icon-play
        Start Publishing

.well.clearfix
  = image_tag current_user.image, :class=>'avatar'
  .account-info.pull-left
    %h1= current_user.name
    %h2= "@#{current_user.username}"
    %p= current_user.email.blank? ? '&nbsp;'.html_safe : current_user.email
    .btn-group
      = link_to 'Account Settings', account_settings_path, :class=>'btn'
      %a.btn.btn-inverse.dropdown-toggle{href:'#', data:{toggle:'dropdown'}}
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to account_settings_path do
            %strong Edit your settings
        %li= link_to 'Delete your account', user_path, confirm: 'Are you sure?', method: :delete
  .system-settings-summary.pull-left.span4
    %h2 Summary of Settings
    %p
      Each day, we will tweet a maximum of
      %strong= current_user.system.daily_max
      tweets from your unpublished list. These will be evenly spaced throughout the day beginning at
      = succeed ',' do
        %strong= current_user.system.start_time.hour.to_s << current_user.system.start_time.strftime(':%M %Z')
      and ending at
      = succeed '.' do
        %strong= current_user.system.stop_time.hour.to_s << current_user.system.stop_time.strftime(':%M %Z')
      Any tweets that were not published will be rolled over to the next day.
  .span2
    %h2 Status
    %p
      Day Tweeter is
      - if current_user.system.active?
        %span.label.label-success Active
      - else
        %span.label Paused
    - if current_user.system.active?
      = link_to pause_system_path, :class=>%w[btn btn-large] do
        %i.icon-pause
        Pause Publishing
    - else
      = link_to activate_system_path, :class=>%w[btn btn-large btn-success], confirm:"Are you sure? As soon as the system is activated, unpublished tweets may be published immediately." do
        %i.icon-play.icon-white
        Start Publishing
    
= form_for Tweet.new, html:{:class=>'well form-inline'} do |f|
  = f.text_field :body, rows:'1', placeholder:'Compose new Tweet...', :class=>'span8'
  = f.submit 'Save Tweet', :class=>'btn'

- if current_user.tweets.any?
  - if current_user.tweets.unpublished.any?
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th
            %h6 Unpublished Tweets
      %tbody
        - current_user.tweets.unpublished.each do |tweet|
          %tr
            
            %td.span10
              .tweet-edit.hide
                = form_for tweet, method: :put, html:{:class=>'form-inline'} do |f|
                  = f.text_field :body, placeholder:'Compose new Tweet...', :class=>'span7'
                  %button.btn.tooltip-link{type:'submit', title:'Save your changes'}
                    %i.icon-ok
                  %a.btn.btn-inverse.cancel-edit{:href => "#cancel", rel:'tooltip', title:'Discard changes'}
                    %i.icon-remove.icon-white
              
              .tweet-body
                = tweet.body
            
            %td.span2.edit-cell
              %span.pull-right
                - if tweet.pending?
                  %a.btn.disabled{rel:'tooltip', title:'This tweet is pending publishing'}
                    %i.icon-pencil
                    Edit
                - else
                  %a.btn.edit-tweet{rel:'tooltip', title:"Edit this tweet."}
                    %i.icon-pencil
                    Edit
            
            
            %td.center
              - if tweet.pending?
                - if tweet.active?
                  %a.btn.btn-primary.disabled{rel:'tooltip', title:'This tweet is pending publishing'}
                    %i.icon-time.icon-white
                - else
                  %a.btn.disabled{rel:'tooltip', title:'This tweet is pending publishing'}
                    %i.icon-minus
              - else
                - if tweet.active?
                  = link_to disable_tweet_path(tweet), :class=>%w[btn btn-primary], rel:'tooltip', title:"This tweet is active and will be published. Click to disable." do
                    %i.icon-time.icon-white
                - else
                  = link_to enable_tweet_path(tweet), :class=>'btn', rel:'tooltip', title:"This tweet is disabled and will not be published. Click to enable." do
                    %i.icon-minus
            %td.center
              - if tweet.pending?
                %a.btn.btn-success.disabled{rel:'tooltip', title:'This tweet is pending publishing'} Pending
              - else
                = link_to 'Publish', publish_tweet_path(tweet), :class=>'btn btn-success tooltip-link', title:"Manually publish this tweet to Twitter."
            %td.center
              - if tweet.pending?
                %a.btn.btn-danger.disabled{rel:'tooltip', title:'This tweet is pending publishing'}
                  %i.icon-trash.icon-white
              - else
                = link_to tweet, confirm: 'Are you sure?', method: :delete, :class=>'btn btn-danger tooltip-link', title:'Remove this tweet' do
                  %i.icon-trash.icon-white

  - if current_user.tweets.published.any?
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th
            %h6 Published Tweets
          %th
            %h6 Published
      %tbody
        - current_user.tweets.published.each do |tweet|
          %tr
            %td.span10
              .tweet_body
                = tweet.body
            %td.center
              %a.btn.btn-inverse.disabled{rel:'tooltip', title:tweet.published_at.to_formatted_s(:verbose)}= tweet.published_at.to_formatted_s(:short_ordinal_with_time)
    %a.btn.btn-danger.pull-right{rel:'tooltip', title:"Remove all published tweets"} Clear Published
- else
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{colspan:4}
          %h6 Please add some Tweets above
    %tbody