.well{style:'padding: 8px 0;'}
  %ul.nav.nav-list
    %li.nav-header Navigation
    %li
      = link_to root_path do
        %i.icon-home
        Home
    %li
      = link_to placeholder_path do
        %i.icon-pencil
        Something
    %li
      = link_to placeholder_path do
        %i.icon-flag
        Something
    %li
      = link_to placeholder_path do
        %i.icon-glass
        Something
    %li
      = link_to placeholder_path do
        %i.icon-trash
        Something