.well{style:'padding: 8px 0;'}
  %ul.nav.nav-list
    = yield :sidebar
    %li.nav-header Navigation
    %li
      = link_to root_path do
        %i.icon-home
        Home
    - if signed_in?
      %li
        = link_to account_settings_path do
          %i.icon-edit
          Settings
      %li
        = link_to signout_path do
          %i.icon-off
          Sign Out
    - else
      %li
        = link_to twitter_auth_path do
          %i.icon-user
          Sign in
      